<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <article>
        <aside>
            <h2>Book ToDo</h2>
        </aside>
    </article>
    <article>
        <table>
            <h2>未読リスト</h2>
            <tr>
                <th>#</th>
                <th>タイトル</th>
                <th>著者</th>
                <th>ジャンル</th>
                <th></th>
            </tr>
            <tr>
                <td>530f9ad1-f3fc-4e22-a2f7-c4eeb4e41b78</td>
                <td>1984年</td>
                <td>ジョージ・オーウェル</td>
                <td>SF小説</td>
                <td><input type="button">読了</td>
            </tr>
        </table>
    </article>
</main>

</body>
</html>