<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<article th:fragment="forRegister">
    <form action="#" method="post" th:action="@{/book/register/}" th:object="${bookRequest}">
        <h2>書籍登録</h2>
        <th:block th:replace="book/_parts/registerFormContent::registerFormContent"/>
    </form>
    <div>
        <button name="" th:value="登録" type="submit">登録</button>
    </div>
</article>

<article th:fragment="forTodo">
    <form action="#" method="post" th:action="@{/book/todo/}" th:object="${bookRequest}">
        <h2>書籍登録</h2>
        <th:block th:replace="book/_parts/registerFormContent::registerFormContent"/>
        <div>
            <button name="register" th:value="登録" type="submit">登録</button>
        </div>
    </form>
</article>

</body>
</html>